@font-face {
	font-family: '128t';
	src:url('./128t.eot');
	src:url('./128t.eot') format('embedded-opentype'),
		url('./128t.ttf') format('truetype'),
		url('./128t.woff') format('woff'),
		url('./128t.woff2') format('woff2'),
		url('./128t.svg') format('svg');
	font-style: normal;
  font-weight: normal;
}

.ic {
  font-family: "128t";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-network-switch::before {
  content: "\63";
}

.ic-system-configuration::before {
  content: "\64";
}

.ic-128t-cli::before {
  content: "\66";
}

.ic-128t-controllerroutercombo::before {
  content: "\68";
}

.ic-network-firewall::before {
  content: "\6a";
}

.ic-network-dpi::before {
  content: "\6b";
}

.ic-network-dns-server::before {
  content: "\6c";
}

.ic-network-device-interface::before {
  content: "\6e";
}

.ic-network-ethernet::before {
  content: "\67";
}

.ic-128t-control::before {
  content: "\70";
}

.ic-network-secure::before {
  content: "\72";
}

.ic-datacenter-database::before {
  content: "\73";
}

.ic-128t-slice::before {
  content: "\74";
}

.ic-128t-priority::before {
  content: "\76";
}

.ic-network-nac-server::before {
  content: "\77";
}

.ic-network-multilayer-switch::before {
  content: "\78";
}

.ic-network-idp::before {
  content: "\79";
}

.ic-network-router::before {
  content: "\7a";
}

.ic-network-secure-network::before {
  content: "\61";
}

.ic-system-service-group::before {
  content: "\41";
}

.ic-system-service-route::before {
  content: "\42";
}

.ic-system-subtenant::before {
  content: "\45";
}

.ic-system-tenant::before {
  content: "\46";
}

.ic-network-cerouter::before {
  content: "\47";
}

.ic-network-vpn-server::before {
  content: "\4a";
}

.ic-network-vpn-virtual::before {
  content: "\4b";
}

.ic-network-virtual-switch::before {
  content: "\4c";
}

.ic-network-network-tap::before {
  content: "\4e";
}

.ic-system-health::before {
  content: "\4f";
}

.ic-system-service::before {
  content: "\50";
}

.ic-network-policy-server::before {
  content: "\52";
}

.ic-network-nic::before {
  content: "\54";
}

.ic-network-network-user::before {
  content: "\55";
}

.ic-network-network-server::before {
  content: "\56";
}

.ic-network-network-interface::before {
  content: "\57";
}

.ic-network-security-policy::before {
  content: "\58";
}

.ic-system-network::before {
  content: "\49";
}

.ic-128t-gui::before {
  content: "\69";
}

.ic-network-port-range::before {
  content: "\75";
}

.ic-network-syslog-server::before {
  content: "\5a";
}

.ic-network-virtual-router::before {
  content: "\59";
}

.ic-network-ntp-server::before {
  content: "\4d";
}

.ic-network-dhcp-server::before {
  content: "\30";
}

.ic-system-service-class::before {
  content: "\31";
}

.ic-system-syslog::before {
  content: "\44";
}

.ic-system-session-type::before {
  content: "\32";
}

.ic-network-pe-router::before {
  content: "\48";
}

.ic-network-ntp-server-2::before {
  content: "\53";
}

.ic-system-service-policy::before {
  content: "\62";
}

.ic-network-next-hop::before {
  content: "\6d";
}

.ic-server-generic::before {
  content: "\71";
}

.ic-network-redundancy-group::before {
  content: "\6f";
}

.ic-network-redundancy::before {
  content: "\43";
}

.ic-ic-network-redundancy-group::before {
  content: "\43";
}

.ic-ic-network-redundancy::before {
  content: "\51";
}

.ic-network-routing-protocol::before {
  content: "\33";
}

.ic-network-protocol::before {
  content: "\6f";
}

.ic-up-hierarchy-arrow::before {
  content: "\34";
}

.ic-product-node::before {
  content: "\35";
}

.ic-network-address::before {
  content: "\36";
}

.ic-network-address-range::before {
  content: "\37";
}

.ic-network-aggregate-address::before {
  content: "\38";
}

.ic-128t-brand-mark::before {
  content: "\65";
}

.ic-product-high-availability::before {
  content: "\39";
}

.ic-128t-conductor::before {
  content: "\21";
}

.ic-ha-router-outline::before {
  content: "\22";
}

.ic-analytics-alt::before {
  content: "\23";
}

.ic-128t-peer::before {
  content: "\24";
}